
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');

.navbar{
    margin-bottom: 0;
}

body{
    background: linear-gradient(135deg, #fefefe 0%, #dcdcdc 100%);
}

.news-side{
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    color: rgb(116, 31, 31);
}

.news-title{
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    color: rgb(72, 71, 71);
}

.brief-text{
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    color: rgb(118, 118, 118);
    font-size: 14px;
    float: right;
}

.container{
   margin: 2rem;
}

.card-body span{
    font-size: 14px;
}

.index{
    
}