
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');

.navbar{
    margin-bottom: 0;
}

body{
    background: linear-gradient(135deg, #fefefe 0%, #dcdcdc 100%);
}

.news-side{
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    color: rgb(116, 31, 31);
}

.news-title{
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    color: rgb(72, 71, 71);
}

.brief-text{
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    color: rgb(118, 118, 118);
    font-size: 14px;
    float: right;
}

.container{
   margin: 2rem;
}

.card-body span{
    font-size: 14px;
}

.mycard{
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-wrap: wrap;
    
    margin-top: 10px;
    color:rgb(29, 28, 28);
    border-radius: 10px;
    
}

.mycard-img:hover{
    box-shadow: rgba(142, 146, 145, 0.2) 0 3px 5px -1px,rgba(142, 146, 145, .14) 0 6px 10px 0,rgba(142, 146, 145, .12) 0 1px 18px 0;
}

.mycard-img{
    border-radius: 10px;
}

.line1, .line2, .line3{
    font-size: 13px;
    font-weight: 500;
}

.line2{
    opacity: 70%;
}

.line3{
    opacity: 60%;
}

.cards-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.index-link a{
    text-decoration: none;
    font-size: 14px;
    margin-right: 2rem;
    transform: translateY(50%);
}



.brief{
    font-size: 14px;
}

.dropdown{
    margin-right: 0.7rem;
}

.index-heading{
    font-size: 20px;
    font-weight: 600;
    padding-left: 2rem;
}